h1{
    text-align: center;
    padding-top: 2vw;
    text-decoration: underline;
}

.tbl{
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(254, 255, 208);  
    border: 1px solid black; 
    margin: 10px;
}
#dbutn{
    margin-left: 44vw;
}
.heading{
    background-color: rgb(255, 218, 218);
    font-size: 50px;
    font-weight: bold;
    padding: 20px;
}
.btnd{
    background-color: chartreuse;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 5px;
    transition: .5s;
}
.btnd:hover{
    transform: scale(1.2);
    background-color: red;
}
.table {
    width: 100%;   
    
        
  }
  
.table, th, tr,td {
    border: 1px solid black;
    text-align: left;
    font-weight: bold;
    height: 50px;
    padding: 15px;
    padding-top: 0;    
    border-collapse: collapse;
    margin:10px;
    margin-top: 0;
    
}


th{
    font-weight: 200;
    font-size: 30px;
    background-color: rgb(255, 147, 147);
}